<%- include('templates/header') %>

<h2>Users</h2>
<table class="table mt-3">
  <tbody>
    <% for(let i = 0; i < users.length; i++) { %>
      <%- include('templates/users', {user: users[i]}) %>
    <% } %>
  </tbody>
</table>

<%- include('templates/footer') %>