<tr>
  <td><%= user.name %> (<%= user.user_type %>)</td>
  <td>
    <a
      href="/promoteUser?email=<%= user.email %>"
      class="btn btn-success btn-sm"
      >Promote to Admin</a
    >
    <a href="/demoteUser?email=<%= user.email %>" class="btn btn-danger btn-sm"
      >Demote to User</a
    >
  </td>
</tr>
